body {
    background-color: #E9EED9;
}
.resutl-section {
    background-color: #8ABFA3;
    width: 500px;
    padding: 30px;
    height: 400px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading {
    font-size: 17px;
    font-weight: 600;
    color: blue;
}